<h1>Create a New Pizza</h1>

<form action="/pizzas" method="post">
  <input type="text" name="toppings" placeholder="toppings">
  <input type="number" name="price" placeholder="price">
  <button type="submit">Create A New Pizza</button>
</form>
